{% extends 'home.html' %}
{% load static %}
{% block title %}
    Cuentas
{% endblock title %}
{% block headerleft %}
    Cuentas
{% endblock headerleft %}
{% block headerright %}
    Cuentas
{% endblock headerright %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Listado de cuentas</h5>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                                <i class="fas fa-wrench"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                                <a href="{% url 'accounts:account_create' %}" class="dropdown-item">Nueva caja</a>
                                <a href="#" class="dropdown-item">Exportar PDF</a>
                                <a href="#" class="dropdown-item">Exportar Excel</a>
                                <a class="dropdown-divider"></a>
                                <a href="#" class="dropdown-item">Operaciones</a>
                            </div>
                        </div>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table m-0">
                            <thead>
                            <tr class="text-center">
                                <th>Nº</th>
                                <th>Descripcion</th>
                                <th>Tipo</th>
                                <th>Inicial</th>
                                <th>Total</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody id="account-list">
                            {% if account_set %}
                                {% for a in account_set %}
                                    <tr pk="{{ a.id }}">
                                        <td class="align-middle text-center"><a href="#">{{ forloop.counter }}</a></td>
                                        <td class="align-middle">{{ a.name }}</td>
                                        <td class="align-middle text-center">{{ a.get_type_display }}</td>
                                        <td class="align-middle text-right">{{ a.initial|safe }}</td>
                                        <td class="align-middle text-right">{{ a.total }}</td>
                                        <td class="align-middle text-center">
                                            {% if a.type == 'E' %}
                                                {% if a.get_status == 'A' %}
                                                    <button class="btn btn-warning btn-sm btn-closing"
                                                            onclick="CloseAccount('{{ a.id }}')"><i
                                                            class="fas fa-dollar-sign fa-1x"></i> CERRAR
                                                    </button>
                                                {% elif c.get_status == 'C' %}
                                                    <button class="btn btn-warning btn-sm btn-opening"
                                                            onclick="OpenAccount('{{ a.id }}')"><i
                                                            class="fas fa-dollar-sign fa-1x"></i> APERTURAR
                                                    </button>
                                                {% else %}
                                                    <button class="btn btn-warning btn-sm btn-opening" pk="{{ a.id }}"
                                                            onclick="OpenAccount('{{ a.id }}')"><i
                                                            class="fas fa-dollar-sign fa-1x"></i> APERTURAR
                                                    </button>
                                                {% endif %}
                                            {% else %}
                                                <button class="btn btn-info btn-sm item-account" pk="{{ a.id }}"><i
                                                        class="far fa-credit-card fa-1x"></i> CUENTA
                                                </button>
                                            {% endif %}
                                        </td>
                                        <td class="align-middle text-center">
                                            <a class="btn btn-info btn-sm btn-edit"
                                               href="{% url 'accounts:account_update' a.id %}">
                                                <i class="fas fa-pencil-alt">
                                                </i>
                                                Editar
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="7"><a href="#">No existen cajas registradas</a></td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- ./card-body -->
                <div class="card-footer">
                    <div class="row">
                        <div class="col-sm-3 col-6">
                            <!-- /.description-block -->
                        </div>
                        <div class="col-sm-3 col-6">
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-3 col-6">
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-3 col-6">
                            <div class="description-block">
                                <h4 class="description-header">Total caja = {{ account_set.count }}</h4>
                            </div>
                            <!-- /.description-block -->
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.card-footer -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
     <div class="modal fade small" id="modal-account" tabindex="-1" role="dialog"
         aria-labelledby="ModalHelpTitle"
         aria-hidden="true"></div>
{% endblock body %}

{% block extrajs %}

    <script type="text/javascript" src="{% static 'js/accounts/AccountList.js' %}">

    </script>
{% endblock extrajs %}
