{% extends 'home.html' %}
{% load static %}
{% block title %}
    Productos
{% endblock title %}
{% block headerleft %}
    Productos
{% endblock headerleft %}
{% block headerright %}
    Productos
{% endblock headerright %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Listado de productos</h5>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                                <i class="fas fa-wrench"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                                {#                                <a href="{% url 'products:product_create' %}" class="dropdown-item">Nuevo Producto</a>#}
                                <button type="button" onclick="showModalView('modal_product_create', 0)"
                                        class="btn btn-outline-success btn-sm"><i class="fab fa-microsoft"></i>
                                    Nuevo Producto
                                </button>
                                <a href="#" class="dropdown-item">Exportar PDF</a>
                                <a href="#" class="dropdown-item">Exportar Excel</a>
                                <a class="dropdown-divider"></a>
                                <a href="#" class="dropdown-item">Operaciones</a>
                            </div>
                        </div>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table m-0 table-bordered">
                            <thead>
                            <tr class="text-center">
                                <th>Nº</th>
                                <th>Nombre</th>
                                <th>Descripcion</th>
                                <th>Marca</th>
                                <th>Modelo</th>
                                <th>Medidas</th>
                                <th>Colores</th>
                                <th>Cargador</th>
                                <th>Accesorio</th>
                                <th>Almacen</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody id="product-list">
                            {% if product_set %}
                                {% for p in product_set %}
                                    <tr class="row-product" pk="{{ p.id }}">
                                        <td class="align-middle"><a href="#">{{ forloop.counter }}</a></td>
                                        <td class="align-middle">{{ p.name }}</td>
                                        <td class="align-middle">{{ p.description }}</td>
                                        <td class="align-middle">{{ p.product_brand.name }}</td>
                                        <td class="align-middle">{{ p.product_model.name }}</td>
                                        <td class="align-middle">{{ p.measures }}</td>
                                        <td class="align-middle">
                                            {% for c in p.get_color %}
                                                <span class="badge badge-warning">{{ c }}</span><br>
                                            {% endfor %}
                                        </td>
                                        <td class="align-middle text-center">
                                            {% if p.is_charger %}
                                                Con/Cargador
                                            {% else %}
                                                Sin/Cargador
                                            {% endif %}
                                        </td>
                                        <td class="align-middle text-center">
                                            {% if p.is_add %}
                                                N/F
                                            {% else %}
                                                A/F
                                            {% endif %}
                                        </td>
                                        <td class="align-middle item-store text-center">
                                            {% if p.store_set.count > 0 %}
                                                <span class="badge badge-warning span-stock">Stock: {{ p.store_set.first.quantity|safe }}</span>
                                                <br>
                                                <span class="badge badge-warning span-price">Precio: {{ p.store_set.first.price|safe }}</span>
                                                <br>
                                                <button type="button" class="btn btn-warning btn-sm btn-store mt-1"
                                                        onclick="showModalView('modal_store_update', {{ p.store_set.first.id }})">
                                                    <i class="fas fa-pencil-alt">
                                                    </i>
                                                    Edit
                                                </button>
                                            {% else %}
                                                <button type="button" class="btn btn-warning btn-sm btn-store w-100"
                                                        onclick="showModalView('modal_store_create', {{ p.id }})">
                                                    <i class="fas fa-pencil-alt">
                                                    </i>
                                                    Stock
                                                </button>
                                            {% endif %}
                                        </td>
                                        <td class="align-middle text-right">
                                            <button type="button" class="btn btn-info btn-sm btn-edit w-100"
                                                    onclick="showModalView('modal_product_update', {{ p.id }})">
                                                <i class="fas fa-pencil-alt">
                                                </i>
                                                Editar
                                            </button>
                                            <a class="btn btn-danger btn-sm btn-delete w-100"
                                               href="{% url 'products:product_delete' p.id %}">
                                                <i class="fas fa-trash-alt">
                                                </i>
                                                Eliminar
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="11"><a href="#">No existen productos registrados</a></td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- ./card-body -->
                <div class="card-footer">

                </div>
                <!-- /.card-footer -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <div class="modal fade" id="modal-product" tabindex="-1" role="dialog"
         aria-labelledby="ModalHelpTitle"
         aria-hidden="true"></div>
    <div class="modal fade" id="modal-store" tabindex="-1" role="dialog"
         aria-labelledby="ModalHelpTitle"
         aria-hidden="true"></div>
{% endblock body %}

{% block extrajs %}
    <script type="text/javascript" src="{% static 'js/products/ProductList.js' %}"></script>
{% endblock extrajs %}
