{% load static %}
<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
        <div class="modal-header bg-primary">
            <h6 class="modal-title  text-white ">DEVOLUCION DEL PRODUCTO</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body p-2">
            <div class="card border-primary">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="measures">Caja/Cuenta</label>
                                <select class="form-control" id="account" name="account">
                                    {% for a in account_set %}
                                        <option value="{{ a.id }}">{{ a.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label for="name">Monto Pagar</label>
                                <input type="number" step="0.01" min="0.00" class="form-control text-right" id="amount"
                                       name="amount"
                                       placeholder="0.00" value="">
                                <input type="hidden" value="{{ order_obj.id }}" id="order" name="order">
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label for="measures">Codigo</label>
                                <input type="text" class="form-control" id="code" name="code" placeholder="Codigo ..." value="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label for="measures">Fecha</label>
                                <input type="date" class="form-control" id="date" name="date" value="{{ date }}">
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label for="measures">Nº Documento</label>
                                <input type="text" class="form-control" id="dni" name="dni" disabled
                                       placeholder="DNI ..." value="{{ order_obj.provider.document }}">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="name">Nombres</label>
                                <input type="text" class="form-control" id="names" name="names" disabled
                                       placeholder="Ingrese nombres" value="{{ order_obj.provider.names }}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <table class="table table-striped">
                                <thead>
                                <tr class="text-center text-warning text-uppercase" style="width: 100%">
                                    <th style="width: 5%">Nº</th>
                                    <th style="width: 12%">Cantidad</th>
                                    <th style="width: 47%">Descripcion</th>
                                    <th style="width: 12%">Medida</th>
                                    <th style="width: 12%">Precio</th>
                                    <th style="width: 12%">Importe</th>
                                    {#                            <th style="width: 10%">Eliminar</th>#}
                                </tr>
                                </thead>
                                <tbody id="order_detail">
                                {% for d in order_obj.detail_set.all %}
                                    <tr class="p-0" product="{{ d.product.id }}" pk="{{ d.id }}"
                                        i="{{ forloop.counter }}" old="{{ d.quantity }}">
                                        <td class="align-middle item-number p-1 text-center"><span
                                                class="bs-stepper-circle bg-primary">{{ forloop.counter }}</span></td>
                                        <td class="align-middle item-quantity p-1"><input type="number" step="1" min="1"
                                                                                          max="{{ d.quantity|safe }}"
                                                                                          placeholder="0.00"
                                                                                          class="form-control text-center value-quantity"
                                                                                          disabled
                                                                                          value="{{ d.quantity|safe }}"/>
                                        </td>
                                        <td class="align-middle item-description p-1 text-justify">{{ d.product.name }}</td>
                                        <td class="align-middle item-unit p-1 text-center">UND
                                        <td class="align-middle item-price p-1 text-right"><input type="number"
                                                                                                  step="0.01"
                                                                                                  placeholder="0.00"
                                                                                                  class="form-control text-right value-price"
                                                                                                  value="{{ d.price|safe }}"/>
                                        </td>
                                        <td class="align-middle item-amount p-1 text-right">
                                            {{ d.amount|safe }}
                                        </td>
                                        {#                                <td class="align-middle item-delete p-1 text-center">#}
                                        {#                                    <button type="button" class="btn btn-danger rounded"><i class="fa fa-trash-alt"></i></button>#}
                                        {#                                </td>#}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer p-1">
            <button type="button" class="btn btn-secondary" id="btn-modal-close" data-dismiss="modal">Cerrar</button>
            &nbsp;
            <button id="create-return" onclick="SaveReturn()" type="button" class="btn btn-primary">Registrar entrega
            </button>
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'js/sales/ModalReturnPawns.js' %}">
</script>