{% extends 'home.html' %}
{% load static %}
{% block title %}
    Entregas
{% endblock title %}
{% block headerleft %}
    Entregas
{% endblock headerleft %}
{% block headerright %}
    Entregas
{% endblock headerright %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">Inbox</h3>
                    <div class="card-tools">
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control" id="search-dni" placeholder="Buscar DNI ...">
                            <div class="input-group-append">
                                <div class="btn btn-primary">
                                    <i class="fas fa-search"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="card-body p-0">
                    <div class="mailbox-controls">

                        <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i
                                class="far fa-square"></i>
                        </button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm">
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </div>

                        <button type="button" class="btn btn-default btn-sm">
                            <i class="fas fa-sync-alt"></i>
                        </button>
                        <div class="float-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-sm">
                                    <i class="fas fa-chevron-left"></i>
                                </button>
                                <button type="button" class="btn btn-default btn-sm">
                                    <i class="fas fa-chevron-right"></i>
                                </button>
                            </div>

                        </div>

                    </div>
                    <div class="table-responsive mailbox-messages" id="return-list">
                           {% include "sales/returns_grid_list.html" %}
                    </div>
                </div>

                <div class="card-footer p-0">
                    <div class="mailbox-controls">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-returns" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
         aria-labelledby="ModalHelpTitle"
         aria-hidden="true"></div>
{% endblock body %}

{% block extrajs %}

    <script type="text/javascript" src="{% static 'js/sales/ReturnsList.js' %}">

    </script>
{% endblock extrajs %}