{% extends 'home.html' %}
{% load static %}
{% block title %}
    Proveedor
{% endblock title %}
{% block headerleft %}
    Proveedor
{% endblock headerleft %}
{% block headerright %}
    Proveedor
{% endblock headerright %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Listado de proveedores</h5>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                                <i class="fas fa-wrench"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                                <a href="{% url 'providers:provider_create' %}" class="dropdown-item">Nuevo Proveedor</a>
                                <a href="#" class="dropdown-item">Exportar PDF</a>
                                <a href="#" class="dropdown-item">Exportar Excel</a>
                                <a class="dropdown-divider"></a>
                                <a href="#" class="dropdown-item">Operaciones</a>
                            </div>
                        </div>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table m-0">
                            <thead>
                            <tr class="text-center">
                                <th>Nº</th>
                                <th>Documento</th>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                <th>Telefono</th>
                                <th>Direccion</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody id="provider-list">
                            {% if provider_set %}
                                {% for p in provider_set %}
                                    <tr pk="{{ p.id }}">
                                        <td class="align-middle"><a href="#">{{ forloop.counter }}</a></td>
                                        <td class="align-middle">{{ p.document }}</td>
                                        <td class="align-middle">{{ p.first_name }}</td>
                                        <td class="align-middle">{{ p.last_name }}</td>
                                        <td class="align-middle"><span class="badge badge-success">{{ p.phone }}</span>
                                        </td>
                                        <td class="align-middle">{{ p.address }} </td>
                                        <td class="align-middle text-right">
                                            <a class="btn btn-info btn-sm btn-edit" href="{% url 'providers:provider_update' p.id %}">
                                                <i class="fas fa-pencil-alt">
                                                </i>
                                                Editar
                                            </a>
                                            <a class="btn btn-danger btn-sm btn-delete" href="{% url 'providers:provider_delete' p.id %}">
                                                <i class="fas fa-trash-alt">
                                                </i>
                                                Eliminar
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="7"><a href="#">No existen proveedores registrados</a></td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- ./card-body -->
                <div class="card-footer">
                    <div class="row">
                        <div class="col-sm-3 col-6">
                            <!-- /.description-block -->
                        </div>
                        <div class="col-sm-3 col-6">
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-3 col-6">
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-3 col-6">
                            <div class="description-block">
                                <h4 class="description-header">Total proveedores = {{ provider_set.count }}</h4>
                            </div>
                            <!-- /.description-block -->
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.card-footer -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
{% endblock body %}

{% block extrajs %}

    <script type="text/javascript">

    </script>
{% endblock extrajs %}
